* {
  margin: 0;
  padding: 0;
}

h1 {
  /* padding: 32px 0; */
  position: relative;
  bottom: 33px;
}

body {
  width: 100vw;
  height: 100vh;
}

.container {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 0 42px rgba(128, 128, 128, 0.521),
    2px 0 13px rgba(128, 128, 128, 0.521);
  border-radius: 23px;
  background: rgb(230, 230, 230);
  padding: 28px;
}

input {
  font-size: 1.5em;
  border: none;
  outline: none;
  border-radius: 12px;
  padding: 12px;
  margin: 9px;
  max-width: 90%;
  box-shadow: 2px 0 12px rgba(128, 128, 128, 0.521),
    2px 0 13px rgba(128, 128, 128, 0.521);
}

button {
  font-size: 1.5em;
  background-color: white;
  padding: 0.5em 1em;
  cursor: pointer;
  background: gray;
  border: none;
  border-radius: 22px;
  outline: none;
  box-shadow: 2px 0 12px rgba(128, 128, 128, 0.521),
    2px 0 13px rgba(128, 128, 128, 0.521);
  margin: 4px;
}

/* media querry for small device */
@media (max-width: 995px) {
  .calculator {
    max-width: 80%;
    height: 60%;
  }
  table {
    width: 80%;
  }
}
